@import '../../utils/scss/';

.#{$global-prefix}button-increment {
  @include button;
  padding: 0 !important;
  display: inline-block;
  overflow: hidden;
  
  &,
  .#{$global-prefix}increment,
  & > * {
    width: 100%;

    @include largemobilebreakpoint() {
      width: auto;
    }
  }

  > button {
    text-align: center;

    @include largemobilebreakpoint() {
      text-align: left;
    }
    &:active {
      transform: scale(0.98);
    }
  }

  > button {
    @include button-font;
    @include button-disabled;
    background: none;
    background-color: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    border: 0 none;
    display: block;

    @include largemobilebreakpoint() {
      float: left;
    }
    
    &:not([disabled]) {
      cursor: pointer;
    }
  }

  .#{$global-prefix}increment > button,
  .#{$global-prefix}increment > span,
  .#{$global-prefix}increment > select,
  > button {
    padding: $global-padding * 0.5 $global-padding;
    color: inherit;
  }

  .#{$global-prefix}increment > select {
    white-space: normal;
    text-rendering: auto;
    appearance: none;
    opacity: 1;
    cursor: pointer;
  }

  .#{$global-prefix}increment > button,
  .#{$global-prefix}increment > span,
  .#{$global-prefix}increment > select {
    &:hover {
      transform: scale(1) !important;
    }
  }

  &.large,
  &.xlarge,
  &.massive {
    .#{$global-prefix}increment > button,
    .#{$global-prefix}increment > span,
    .#{$global-prefix}increment > select,
    > button {
      padding: $global-padding;
    }
  }

  .#{$global-prefix}form-element {
    display: block;
    font-size: inherit;
    line-height: inherit;

    @include largemobilebreakpoint() {
      float: right;
    }
  }

  .#{$global-prefix}increment {
    margin: 0;
    font-size: inherit;
    line-height: inherit;

    > button {
      margin: 0;
      min-width: 24px;
      line-height: inherit;
      box-shadow: none;
      border-radius: 0;
      min-width: none;
      max-width: none;
      &:not([disabled]) {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
      &[disabled] {
        background-color: rgba($color: #FFF, $alpha: 0.2);
      }
    }

    > input,
    > select,
    > span {
      font-size: inherit;
      line-height: inherit;
      min-width: 45px;
    }

    > span {
      background-color: rgba($color: #FFF, $alpha: 0.5);
    }

    > button,
    > select,
    > span {
      width: 33%;

      @include largemobilebreakpoint() {
        width: auto;
      }
    }
  }

  .#{$global-prefix}form-element--disabled {
    .#{$global-prefix}increment {
      > button,
      > span,
      > select {
        @include button-disabled;
      }
    }
  }

  &.tiny .#{$global-prefix}increment > span {
    min-width: 40px;
  }

  &.small .#{$global-prefix}increment > span {
    min-width: 42px;
  }

  &.large .#{$global-prefix}increment > span {
    min-width: 51px;
  }

  &.xlarge .#{$global-prefix}increment > span {
    min-width: 57px;
  }

  &.massive .#{$global-prefix}increment > span {
    min-width: 63px;
  }
}