@import '../../utils/scss/';

.#{$global-prefix}button {
  @include button;
  @include button-disabled;
  cursor: pointer;

  &:hover,
  &:active {
    transform-origin: center center;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }
}