@import '../../utils/scss/';

.#{$global-prefix}button {
  font-size: map-get($global-button-sizes, font-normal);
  line-height: map-get($global-button-sizes,  line-height-normal);
  padding: map-get($global-button-sizes,  padding-normal);

  @include desktopbreakpoint() {
    font-size: map-get($global-button-sizes, font-normal--desktop);
    line-height: map-get($global-button-sizes,  line-height-normal--desktop);
  }

  font-family: 'Poppins', sans-serif;
  color: map-get($global-button-font-colors, default);
  background-color: map-get($global-button-colors, default);
  border-radius: 40px;
  box-shadow: 0px 4px 16px 0px #00000026;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  position: relative;
  user-select: none;
  transition: all 0.1s;

  &[disabled],
  &.disabled,
  &.button-disabled {
    cursor: not-allowed !important;
    background-color: map-get($global-site-colors, disabled);
  }

  &:hover,
  &:active {
    transform-origin: center center;
  }

  &:hover {
    transform: scale(1.02);
  }

  &:active {
    transform: scale(1);
  }

  &:not([disabled]) {
    @each $key, $color in $global-button-colors {
      &.#{"" + $key} {
        &,
        > button {
          background-color: $color;
          color: map-get($global-button-font-colors, $key);
        }
      }
    }
  }

  @each $size in $global-sizes {
    &.#{"" + $size} {
      font-size: map-get($global-button-sizes, #{'font-' + $size});
      line-height: map-get($global-button-sizes, #{'line-height-' + $size});
      padding: map-get($global-button-sizes, #{'padding-' + $size});

      @include desktopbreakpoint() {
        font-size: map-get($global-button-sizes, #{'font-' + $size + '--desktop'});
        line-height: map-get($global-button-sizes, #{'line-height-' + $size + '--desktop'});
      }
    }
  }

  &.expanded,
  &--expanded {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &.sashed {
    overflow: hidden;
    z-index: 1;
    position: relative;

    &:before {
      position: absolute;
      z-index: 3;
      width: 15%;
      height: 1000px;
      transform: rotate(30deg);
      transform-origin: center;
      background-color: rgba(255, 255, 255, 0.3);
      content: "";
      display: block;
      left: calc(50% - 7.5%);
      top: calc(50% - 500px);
      z-index: -1;
      transition: all 0.4s;
    }

    &:not([disabled]) {
      &:hover {
        &:before {
          width: 25%;
          left: calc(50% - 12.5%);
        }
      }
      &:active {
        &:before {
          width: 1000px;
          left: calc(50% - 500px);
        }
      }
    }
  }
}