@keyframes shake {
  12.5%, 32.5%, 62.5%, 92.5% {
    transform: translate3d(-1px, 0, 0);
  }
  
  25%, 50%, 75%, 99% {
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes eggshake {
  0% {
    transform: rotateZ(0);
  }
  10% {
    transform: rotateZ(10deg);
  }
  20% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(5deg);
  }
  70% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(0);
  }
}