@mixin largemobilebreakpoint() {
  @media screen and (min-width: 440px) {
    @content;
  }
}

@mixin tabletbreakpoint() {
  @media screen and (min-width: 800px) {
    @content;
  }
}

@mixin tabletbreakpointonly() {
  @media screen and (min-width: 800px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktopbreakpoint() {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin largedesktopbreakpoint() {
  @media screen and (min-width: 1300px) {
    @content;
  }
}

@mixin tabletandbelowbreakpoint() {
  @media screen and (max-width: 800px) {
    @content;
  }
}

@mixin belowdesktopbreakpoint() {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin belowlargemobilebreakpoint() {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin thumbnailIcon($top: auto, $right: auto, $bottom: auto, $left: auto) {
  content: "";
  display: inline-grid;
  aspect-ratio: 1;
  width: 40px;
  background-color: #fff;
  position: absolute;
  right: $right;
  top: $top;
  left: $left;
  bottom: $bottom;
  border: $global-border-width solid #222;
  z-index: 1;
  border-radius: 50%;
  background-position: 50% 50%;
  background-size: 80%;
  background-repeat: no-repeat;
}
