@use "sass:map";
$global-margin: 16px !default;
$global-padding: 16px !default;
$global-prefix: 'ccwc-';
$global-radius: 5px;
$global-border-width: 4px;
$global-border-color: #14396D;

$global-base-colors: (
  orange: #FC9144,
  red: #FA3C6A,
  green: #39E27D,
  pale-green: #8EB272,
  pink: #FD9DCB,
  light-blue: #90CFF1,
  simple-yellow: #FAD121,
  yellow: #FAD121,
  grey: #dadada,
  white: white,
  transparent: white,
  opensea: #2081E2,

  disabled: #A5A5A5,
  listed: #3A69AC,
  purchase: #8EB272,
  buttonText: #FFFFFF,
  selected: #3A69AC,

  error: #b15f5f,
  warning: #E18800,
  success: #8EB272,
  info: #3A69AC,

  fire: #FC7E0A,
  water: #38C9F6,
  grass: #7FBF5E,
  air: #d6c6e2,
  border: #14396D,

  common: #dec5a8,
  uncommon: #39e27d,
  rare: #348FED,
  epic: #fa3c6a,
  legendary: #FAD121,
  legendary-star: #FFFF00,

  pilldefault: #9CB5FE,

  cool_1: #DEC5A8,
  cool_2: #9cb5fe,
  wild_1: #39e27d,
  wild_2: #fc9144,
  classy_1: #df9dcb,
  classy_2: #fa3c6a,
  exotic_1: #a070dd,
  exotic_2: #FAD121,
);

$global-pill-font-colors: (
  pilldefault: white,

  orange: white,
  red: white,
  green: white,
  pale-green: white,
  pink: white,
  light-blue: white,
  simple-yellow: white,
  yellow: white,
  grey: white,
  white: black,
  transparent: black,

  disabled: white,
  listed: white,
  purchase: white,
  buttonText: white,
  selected: white,

  error: white,
  warning: white,
  success: white,
  info: white,

  fire: white,
  water: white,
  grass: white,
  air: white,
  border: white,

  common: white,
  uncommon: white,
  rare: white,
  epic: white,
  legendary: white,
  legendary-star: white
);

$global-element-colors: (
  formelement-label: $global-border-color,
  formelement-border: lightgrey,
  default-border: lightgrey,
  formelement-outline: grey,
  topnav: #3A69AC,
  milk: #EEAC49
);

$global-pill-colors: $global-base-colors;
$global-site-colors: map.merge($global-base-colors, $global-element-colors);
$global-font: 'Poppins', serif;
$global-rarity-badge-width: 80px;
$cool-tablet-border: solid 12px $global-border-color;
$cool-tablet-radius: 30px;
$cool-tablet-height: 680px;