@import './variables';
@import './keyframes';

[class^="ccwc-"],
[class*=" ccwc-"] {
  &,
  * {
    &,
    &:before,
    &:after {
      box-sizing: border-box;
    }
  }

  & {
    font-family: $global-font;
    font-weight: bold;
    margin: 0;
    -webkit-font-smoothing: antialiased;

    td,
    tr,
    p,
    li {
      & {
        font-weight: normal;
      }
    }


    img,
    picture,
    video,
    canvas,
    svg {
      display: block;
      max-width: 100%;
    }

    input,
    textarea,
    select {
      font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }
  }

  &.shake {
    &,
    &--hover:hover {
      animation: shake 0.22s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }

  &.eggshake {
    &,
    &--hover:hover {
      transform-origin: center 80%;
      animation: eggshake 1s infinite alternate;
    }
  }

  &.clickable {
    transition: all 0.1s;
    &:hover,
    &:active {
      transform-origin: center center;
    }

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(1);
    }
  }

  &.popout {
    &,
    &--hover:hover {
      animation: zoom 0.5s forwards;
    }
  }

  &.popout--icon {
    &,
    &--hover:hover {
      svg {
        &:first-of-type {
          animation: zoom 0.5s forwards;
        }
      }
    }
  }
}

@each $key, $color in $global-pill-colors {
  .#{$global-prefix}background--#{"" + $key} {
    background-color: $color;
    color: map-get($global-pill-font-colors, $key);
  }
}