@import '../../utils/scss/';

$size-props: (
  margin-tiny: $global-margin * 0.5,
  margin-small: $global-margin * 0.5,
  margin-medium: $global-margin,
  margin-normal: $global-margin,
  margin-large: $global-margin,
  margin-xlarge: $global-margin,
  margin-massive: $global-margin
);

.#{$global-prefix}thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  gap: $global-margin;

  @each $size in $global-sizes {
    &.#{$global-prefix}thumbnail-list--#{$size} {
      gap: map-get($size-props, #{'margin-' + $size});
    }
  }

  &--fluid {
    justify-content: flex-start;

    > .#{$global-prefix}thumbnail {
      flex-basis: 100%;
      max-width: none;
      margin-bottom: 0;

      @include largemobilebreakpoint() {
        flex-basis: calc(50% - #{map-get($size-props, margin-normal)});
      }

      @include tabletbreakpoint() {
        flex-basis: calc(33% - #{map-get($size-props, margin-normal)});
      }

      @include desktopbreakpoint() {
        flex-basis: calc(25% - #{map-get($size-props, margin-normal)});
      }
    }

    @each $size in $global-sizes {
      &.#{$global-prefix}thumbnail-list--#{$size} {
        > .#{$global-prefix}thumbnail {
          @include largemobilebreakpoint() {
            flex-basis: calc(25% - #{map-get($size-props, #{'margin-' + $size})});
          }

          @include tabletbreakpoint() {
            flex-basis: calc(33% - #{map-get($size-props, #{'margin-' + $size})});
          }
    
          @include desktopbreakpoint() {
            flex-basis: calc(25% - #{map-get($size-props, #{'margin-' + $size})});
          }
        }
      }
    }
  }
}