@import '../../utils/scss/';

$border-radius: 10px;

.#{$global-prefix}cat-thumbnail {
  @include largemobilebreakpoint() {
    min-width: map-get($global-thumbnail-dimensions, min-width-large);
    max-width: map-get($global-thumbnail-dimensions, max-width-large);
  }

  &.#{$global-prefix}thumbnail--tiny,
  &.#{$global-prefix}thumbnail--small,
  &.#{$global-prefix}thumbnail--normal,
  &.#{$global-prefix}thumbnail--medium {
    .#{$global-prefix}cat-thumbnail__stats {
      display: none;
    }
  }

  &__stats {
    .#{$global-prefix}stats {
      margin: 12px $global-margin;

      &--withbadge {
        padding: 0;
        margin: 12px 0 12px $global-margin;
      }
    }
  }

  &.#{$global-prefix}thumbnail--large,
  &.#{$global-prefix}thumbnail--xlarge,
  &.#{$global-prefix}thumbnail--massive {
    .#{$global-prefix}cat-thumbnail__stats {
      display: block;
    }
  }

  &--withstats {
    &.#{$global-prefix}thumbnail--large,
    &.#{$global-prefix}thumbnail--xlarge,
    &.#{$global-prefix}thumbnail--massive {
      .#{$global-prefix}cat-thumbnail__image {
        border-radius: 0;
        border-top-left-radius: $border-radius * 0.5;
        border-top-right-radius: $border-radius * 0.5;
      }
    }
  }

  &.selected {
    border-color: rgba(0,0,0,.7);
  }

  &.claimable {
    &:not(.ticked):not(.closeable) {
      &:after {
        background-image: url('../../../assets/icon/egg.png');
      }
    }
  }

  &.air {
    &:not(.ticked):not(.closeable) {
      &:after {
        background-image: url('../../../assets/icon/air.svg');
      }
    }
  }

  &.fire {
    &:not(.ticked):not(.closeable) {
      &:after {
        background-image: url('../../../assets/icon/fire.svg');
        background-size: 70%;
      }
    }
  }

  &.grass {
    &:not(.ticked):not(.closeable) {
      &:after {
        background-image: url('../../../assets/icon/grass.svg');
        background-size: 60%;
      }
    }
  }

  &.water {
    &:not(.ticked):not(.closeable) {
      &:after {
        background-image: url('../../../assets/icon/water.svg');
        background-size: 75%;
      }
    }
  }

  &.staked {
    &:before {
      @include thumbnailIcon(-8px, auto, auto, -8px);
      background-image: url('../../../assets/icon/swordAndShield.svg');
      border-color: inherit;
    }
  }

  .#{$global-prefix}rarity-badge {
    border-bottom-right-radius: 0;
  }

  &.clickable {
    cursor: pointer;
  }
}
