@import '../../utils/scss';

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  20% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.#{$global-prefix}tooltip {
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  padding:20px;
  opacity:0;
  animation:fadeIn 0.4s;
  animation-timing-function:cubic-bezier(.25,.57,.38,1);
  animation-fill-mode:forwards;
  width:460px;
  max-width:calc(100% - 32px);
  aspect-ratio:46/15.5;
  background-size:contain;
  background-position:center center;
  background-repeat:no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='468' height='158' viewBox='0 0 468 158' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 2C2.89543 2 2 2.89543 2 4V78.1293C2 78.5258 2.11781 78.9133 2.33846 79.2426L5.5439 84.0268L7.42938 109.823L2.73731 113.643C2.27079 114.023 2 114.592 2 115.194V152.259C2 153.363 2.89543 154.259 4 154.259H51.5C52.3247 154.259 53.0649 153.752 53.3639 152.984L55.2748 148.072L61.112 153.699C61.4847 154.058 61.9823 154.259 62.5 154.259H90.75C90.8253 154.259 90.9005 154.254 90.9753 154.246L110.353 152.049L118.491 154.193C118.657 154.237 118.828 154.259 119 154.259H234H262.75C263.126 154.259 263.494 154.153 263.812 153.954L269.746 150.236L277.337 152.902C277.492 152.956 277.653 152.991 277.817 153.006L291.317 154.25C291.378 154.256 291.439 154.259 291.5 154.259H348.95L383.901 155.998C384.043 156.005 384.186 155.996 384.327 155.973L399.105 153.522L411.381 154.255C411.73 154.276 412.078 154.205 412.391 154.049L422.562 148.989L434.461 154.097C434.71 154.204 434.979 154.259 435.25 154.259H464C465.105 154.259 466 153.363 466 152.259V120.915C466 120.56 465.905 120.211 465.725 119.904L462.662 114.679L465.919 103.568C465.973 103.385 466 103.195 466 103.005V78.1293V50.2687C466 50.0855 465.975 49.9032 465.925 49.7269L462.563 37.7798L465.95 22.9784C465.983 22.8321 466 22.6824 466 22.5323V4C466 2.89543 465.105 2 464 2H406.5C406.427 2 406.353 2.00404 406.28 2.01211L383.89 4.48756H364.63L345.76 2.01692C345.553 1.98991 345.344 1.99526 345.139 2.03277L335.639 3.77407C335.441 3.81047 335.249 3.87673 335.07 3.97061L326.849 8.28811L309.676 2.11781C309.459 2.03986 309.231 2 309 2H275H248.5C248.22 2 247.943 2.05889 247.687 2.17285L239.333 5.8913L235.292 2.47294C234.93 2.16756 234.473 2 234 2H138C137.93 2 137.859 2.00371 137.789 2.01111L114.496 4.47684L90.202 2.01023C90.1349 2.00341 90.0675 2 90 2H4Z' fill='%23FDF8E4' stroke='%23222222' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");

  @media (max-width:480px) {
    aspect-ratio:40/39;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
    width:240px;
    background-image: url("data:image/svg+xml,%3Csvg width='248' height='240' viewBox='0 0 248 240' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 2C2.89543 2 2 2.89543 2 4V76.8209C2 77.1764 2.09474 77.5254 2.27445 77.8321L6.25256 84.6206L2.17616 93.6793C2.06004 93.9373 2 94.217 2 94.5V113.231V149.642C2 149.909 2.05373 150.174 2.15801 150.421L5.48955 158.297L6.45096 169.986L2.32028 176.377C2.11121 176.701 2 177.078 2 177.463V235.284C2 236.388 2.89543 237.284 4 237.284H24.5C25.1202 237.284 25.7053 236.996 26.084 236.505L30.5624 230.695L35.4649 236.566C35.8449 237.021 36.4072 237.284 37 237.284H49.2609C49.4792 237.284 49.6961 237.248 49.9029 237.178L59.18 234.033L62.7626 236.855C63.1153 237.133 63.5511 237.284 64 237.284H124H139C139.738 237.284 140.417 236.877 140.764 236.225L142.982 232.07L145.508 234.723C145.758 234.985 146.076 235.175 146.425 235.271L153.469 237.212C153.642 237.259 153.821 237.284 154 237.284H184C184.283 237.284 184.564 237.223 184.822 237.107L193.749 233.082L209.717 236.085L209.736 236.088L216.257 237.252C217.037 237.392 217.826 237.057 218.269 236.399L222.467 230.154L227.422 236.513C227.801 236.999 228.383 237.284 229 237.284H244C245.105 237.284 246 236.388 246 235.284V186.388C246 186.106 245.94 185.827 245.825 185.57L242.19 177.459L245.828 169.259C245.941 169.004 246 168.727 246 168.448V119.642C246 119.226 245.871 118.821 245.63 118.483L240.246 110.911L245.219 107.085C245.712 106.707 246 106.121 246 105.5V48.1791C246 47.8172 245.902 47.462 245.716 47.1515L242.261 41.3826L245.813 33.7548C245.936 33.4903 246 33.2021 246 32.9104V4C246 2.89543 245.105 2 244 2H214C213.651 2 213.308 2.09142 213.005 2.26518L202.214 8.45544L192.706 5.97516L182.903 2.13761C182.351 1.92165 181.732 1.96139 181.213 2.24613L176.342 4.91529L167.126 8.84564L164.998 3.28531C164.702 2.51121 163.959 2 163.13 2H145.391H131.565C130.936 2 130.344 2.29583 129.966 2.79864L126.392 7.55524L121.413 2.58454C121.038 2.21023 120.53 2 120 2H73.913C73.7083 2 73.5048 2.03144 73.3095 2.09323L61.6398 5.78672L49.4506 2.08625C49.2622 2.02906 49.0664 2 48.8696 2H4Z' fill='%23FDF8E4' stroke='%23222222' stroke-width='4' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
}
