@use "sass:math";
@import '../../utils/scss/';

$width-badge-width: $global-rarity-badge-width + $global-margin;

.#{$global-prefix}stats {
  > .#{$global-prefix}header {
    font-size: 20px;
    margin: 0;
    line-height: 1;
  }

  &--withbadge {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;

    > .#{$global-prefix}header {
      position: absolute;
      top: 0;
      left: 0;

      + .#{$global-prefix}stats-table {
        li:first-child {
          margin-top: 26px;
        }

        li {
          background-size: 14px;
        }
      }
    }

    .#{$global-prefix}stats-table {
      width: calc(100% - #{$width-badge-width});
      height: 100%;
      position: absolute;
      left: 0;
    }
  }
}

.#{$global-prefix}stats-table {
  min-height: 82px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  margin: 0;
  padding: 0;
  
  li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-basis: 100%;
    background-image: none;

    @include largemobilebreakpoint() {
      max-height: 20%;
    }

    &:before {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;

      @include largedesktopbreakpoint() {
        font-size: 16px;
        line-height: 16px;
      }
    }

    &:before {
      content: attr(title);
    }

    @include largemobilebreakpoint() {
      padding-top: 0;
      padding-left: 30px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px;
      max-height: 33%;
      cursor: pointer;

      &:before {
        opacity: 0;
        transition: all 0.4s;
        visibility: hidden;
        top: $global-padding * -0.5;
        left: 0;
        padding: $global-padding * 0.5;
        position: absolute;
        border: $global-border-width solid rgba(0, 0, 0, .1);
        background-color: white;
        z-index: 2;
        border-radius: 10px;
        width: 100%;
        line-height: 1;
      }

      &:active {
        &:before {
          visibility: visible;
          opacity: 1;
        }
      }

      &:before {
        font-size: 12px;
        line-height: 12px;
      }
    }

    @include tabletbreakpoint() {
      padding-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    @include largemobilebreakpoint() {
      &.hat {
        background-image: url('../../../assets/icon/hat.svg');
      }
  
      &.clothes {
        background-image: url('../../../assets/icon/shirt.svg');
      }
  
      &.mood {
        background-image: url('../../../assets/icon/face.svg');
      }
  
      &.quests {
        background-image: url('../../../assets/icon/scroll.svg');
      }
  
      &.items {
        background-image: url('../../../assets/icon/bag.svg');
      }
  
      &.pets {
        background-image: url('../../../assets/icon/egg.svg');
      }
    }

    span {
      display: none;

      @include largemobilebreakpoint() {
        display: inline-block;
        height: 100%;
        background-color: #F0EFEF;
        border-radius: 4px;
        flex-grow: 1;
        margin-right: math.div($global-margin, 2);
        max-height: 50%;
  
        &:last-of-type {
          margin-right: 0;
        }
  
        &.active {
          position: relative;
          &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: #FAD121;
            width: 100%;
            height: 100%;
            border-radius: 4px;
          }
        }
      }
    }

    &[data-max="15"],
    &[data-max="25"],
    &[data-max="50"] {
      span {
        &,
        &:after {
          @include largemobilebreakpoint() {
            margin-right: 0;
            border-radius: 0;
          }
        }

        &:first-of-type {
          &,
          &:after {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }
        }

        &:last-of-type {
          &,
          &:after {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
}